# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 
temp
temp/*


HW1_MCS212138
HW1_MCS212138/*
Makefile
install.sh

Assignment-2/tools
Assignment-2/include/boost
Assignment-2/datasets
